body,ul,ol,p,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    padding: 20px 0;
    background:gray;
}

.container {
    background-color: #f8f6f6;
}

.country{
    width: 250px;
    margin-bottom: 5px;
    background-color:#fff;
    padding: 25px;
}

.country_flag {
    margin: 15px 0 0 0;
    overflow: hidden;
    position: relative;
}

.country_flag img {
    width: 150px;
    height: 80px;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 20px; 
    border: 1px solid #feebeb;
    margin-bottom: 25px;
}

.figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}



h2 {
    text-align: center;
    color: rgb(255, 153, 0);
    margin-bottom: 15px;
    font-size: 18px;
}

li {
    font-size: 15px;
    text-decoration: bold;
}